<ion-content>
  <ion-grid class="ion-padding" style="padding-top: 20px;">
    <ion-row>
      <ion-col size="6" size-sm="4" size-md="3" offset-sm="2" offset-md="3">
        <ion-button (click)="captureImageFromGallery()" expand="full">
          <ion-icon name="image" class="mr-5"></ion-icon>
          Gallery
        </ion-button>
      </ion-col>
      <ion-col size="6" size-sm="4" size-md="3">
        <ion-button (click)="captureImageFromCamera()" expand="full">
          <ion-icon name="camera" class="mr-5"></ion-icon>
          Camera
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 30px;" *ngIf="imgUrl">
      <ion-col size="12" size-sm="8" size-md="6" offset-sm="2" offset-md="3">
        <div class="img">
          <ion-img src="{{imgUrl}}" style="width: 100%; border: 1px solid #36bfba; height: 300px; max-height: 300px; object-fit: cover;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);" *ngIf="!imgUrl">
      <ion-col>
        <div class="none">
          No Image Selected!
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute; bottom: 5%; right: 5%; left: 5%;" *ngIf="imgUrl">
      <ion-col size="12" size-sm="8" size-md="6" offset-sm="2" offset-md="3">
        <ion-button expand="full" (click)="generateCaption()">
          <ion-icon name="finger-print" class="mr-5"></ion-icon>
          Generate Caption
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
