<ion-content>
  <section class="section-top" style="position: absolute; top: 0; left: 0; right: 0;">
    <div class="background">
      <div class="img1" style="background-color: #073f54; display: flex; justify-content: center; border-bottom: 1px solid #073f54;">
        <img src="assets/images/imeca_logo.png" alt="" style="width: 200px; height: 200px;">
      </div>
      <div>
        <img src="assets/images/wave.svg" alt="">
      </div>
    </div>
  </section>
  <ion-grid class="ion-padding" style="padding-top: 20px;">
    <ion-row style="position: absolute; top: 150px; left: 20px; right: 20px;">
      <ion-col size="6" size-sm="4" size-md="3" offset-sm="2" offset-md="3">
        <ion-button (click)="captureImageFromGallery()" expand="full" color="primary">
          <ion-icon name="image" class="mr-5"></ion-icon>
          Gallery
        </ion-button>
      </ion-col>
      <ion-col size="6" size-sm="4" size-md="3">
        <ion-button (click)="captureImageFromCamera()" expand="full" color="primary">
          <ion-icon name="camera" class="mr-5"></ion-icon>
          Camera
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 280px;">
      <ion-col size="12" size-sm="8" size-md="6" offset-sm="2" offset-md="3">
        <ion-button expand="full" (click)="generateCaption()" color="secondary">
          <ion-icon name="finger-print" class="mr-5"></ion-icon>
          Generate Caption
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="imgUrl">
      <ion-col size="12" size-sm="8" size-md="6" offset-sm="2" offset-md="3">
        <div class="img">
          <ion-img src="assets/shapes.svg" style="width: 100%; border: 1px solid #36bfba; height: 300px; max-height: 300px; object-fit: cover;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;top: 60%; left: 50%; transform: translate(-50%, -50%);" *ngIf="!imgUrl">
      <ion-col>
        <div class="none">
          No Image Selected!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="caption" *ngIf="captionGenerated">
    <div class="close" (click)="hideCaption()">
      <ion-icon name="close"></ion-icon>
    </div>
  </div>
</ion-content>
